<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css">
    <title>Sakzon</title>
  </head>
  <body>
    <div class="grid-container">
      <header class="row">
        <div class="">
          <a href="index.html" class="brand">Sakzon</a>
        </div>
        <div class="">
          <a href="cart.html">Cart</a>
          <a href="signin.html">Sign In</a>
        </div>
      </header>
      <main>
    <div class="row center">
      <div class="card">
        <a href="product.html">
          <img src="/images/product-1.jpg" alt="product">
        </a>
      </div>
    </div>
      </main>
      <footer class="row center">All Rights Reserved</footer>
    </div>
  </body>
</html>
